.Contact {
    .AlertShown {
        transform: translateY(0%);
        top: 5px;
    }
    .AlertHidden {
        top: -100%;
        transform: translateY(-25%);

    }
    .Alert {
        position: absolute;
        left: 50%;
        width: 97.5vw;
        transform: translateX(-50%);
        border-radius: 5px;
        background-color: #28a745;
    
        transition: all 0.3s ease-in-out;
        
        .exit {
            position: absolute;
            top: 5px;
            right: 5px;
            color: white;
            &:hover {
                cursor: pointer;
            }
        }
        .head, .body {
            display:block;
            color: white;
        }
        .head {
            font-size: 1.5rem;
            font-weight: bold;
            margin: 5px;
        }
        .body {
            font-size: 1.2rem;
            font-weight: 600;
            margin: 5px;
        }
    }
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .ContactHeaderContainer{
        flex: 1 1 100%;
        margin-bottom: 50px;
        .ContactHeader {
            text-align: center;
        }
        .ContactInfo {
            text-align: center;
        }
    }
    .ContactFormContainer {
        flex: 1 1 100%;

        .ContactForm {
            padding: 0px 20px;
            margin-bottom: 20px;
            .FormRow {
                display: flex;
                margin-bottom: 20px;
                justify-content: center;
            }
            .FormNameContainer, .FormEmailContainer {
                flex: 1 1 50%;
                .FormNameInput, .FormEmailInput {
                    padding: 10px;
                    width: 90%;
                    &:focus {
                        border: 1px solid #000 !important;
                        box-shadow: rgba(75, 108, 193, 1) 0px 10px 36px 0px, rgba(75, 108, 193, 1) 0px 0px 0px 1px;
                        outline: none;
                    }
                }
            }
            .FormEmailContainer {text-align: right;}
            .FormMessageContainer {
                flex: 1 1 100%;
                .FormMessageInput {
                    padding: 10px;
                    width: 100%;
                    &:focus {
                        border: 1px solid #000 !important;
                        box-shadow: rgba(75, 108, 193, 1) 0px 10px 36px 0px, rgba(75, 108, 193, 1) 0px 0px 0px 1px;
                        outline: none;
                    }
                }
            }
        }
    }
}
.buttonHolder {
    margin-top: 10px;
    position: relative;
    width: 100%;
    text-align: center;
    height: max-content;

    .submitButton {
      display: inline-block;
      background: rgba(75, 108, 193, 1);
      border: solid 1px rgba(75, 108, 193, 0);
      border-radius: 30px;
      padding: 10px 20px;
      font-size: 30px;
      color: white;
      text-decoration: none;
      transition: all .5s;
      &:hover {
        background: rgba(75, 108, 193, 0);
        border: solid 1px rgba(75, 108, 193, 1);

        text-decoration: none;
        color: rgba(75, 108, 193, 1);
        
        transform: scale(1.2);
      }

    }
}