.mainContainer {
    color: black;
    margin: 0% 2.5% 0% 2.5%;
}
.Code{
    background: #f1f1f1;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(241, 241, 241);
    padding: 1em 10px;
    border-radius: 3px;
  }