.mainContainer {
    color: black;
    margin: 0% 25% 0% 25%;
}

.PostHeading {
    .Time {
        color: #828282;
        font-weight: normal;
        font-size: 16px;
    }
    .PostDescription {
        margin-top: 15px;
    }
    margin-top: 2.5%;
    margin-bottom: 5%;
}
.BlockQuote {
    border-left: 5px solid #f1f1f1;
    padding-left: 5px;
}
.Code{
    background: #f1f1f1;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(241, 241, 241);
    padding: 1em 10px;
    border-radius: 3px;
  }