.mainContainer {
    color: black;
    margin: 0% 25% 0% 25%;
}

.PostHeading {
    .Time {
        color: #828282;
        font-weight: normal;
        font-size: 16px;
    }
    .PostDescription {
        margin-top: 15px;
    }
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.Unstyled {

}

.HeaderOne {
    font-weight: 500;
}
.HeaderTwo {
    font-weight: 500;

}
.HeaderThree {
    font-weight: 500;

}
.HeaderFour {
    font-weight: 500;
    
}
.HeaderFive {
    font-weight: 500;

}
.HeaderSix {
    font-weight: 500;

}

.BlockQuote {
    border-left: 5px solid #f1f1f1;
    padding-left: 5px;
}

.ImageContainer {
    position: relative;
    width: 100%;
    .Image {

    }
}